"""
Required libraries and packages (installed in virtual environment if using)

PyTorch

PyTorch Geometric

AirfRANS dataset: airfrans

API here: https://airfrans.readthedocs.io/en/latest/notes/introduction.html

numpy

random

os

matplotlib.pyplot
"""

